@font-face {
    font-family: "Public Pixel";
    src: url("../font/PublicPixel.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1f1f1f;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-container {
    height: 640px;
    width: 1139px;
}

#inventory {
    margin-left: 1039px;
    height: 640px;
    width: 100px;
    background-color: #495057;
    border-radius: 12px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inventory p {
    margin-bottom: 30px;
    color: white;
    font-family: "Public Pixel";
    font-size: 0.6em;
}

.object {
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #6c757d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#music-btn {
    margin-top: 30px;
    width: 30px;
    height: 28px;
    background: url("images/sounds-icon/sound-off.svg");
}

#bottle, #key, #knife, #pass, #ring{
    visibility: hidden;
    width: 30px;
    height: 30px;

}

.loading-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 640px;
    background: #495057;

    display: none;
    justify-content: center;
    align-items: center;
}

.loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 10px;
}
.loading-bar {
    width: 0;
    height: 10px;
    background: #e9ecef;
    transition: 0.9s;
}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 640px;
    background: black;
    color: white;
    font-family: "Public Pixel";
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.win a {
    text-align: left;
}

.name-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.developer-name {
    color: white;
    text-decoration: none;
}

.developer-name:hover {
    color: yellow;
    
}

#restart {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;

    font-family: "Public Pixel";
}

#restart:hover {
    background: #adb5bd;
}