* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     height: 100vh;
    background: #1f1f1f;
    overflow: hidden;
}

#canva-div {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img {
    visibility: hidden;
    position: absolute;
    background: red;
}

/* #img2{
    visibility: hidden;
    position: absolute;
    background: green;
}

#img3 {
    visibility: hidden;
    position: absolute;
    background: violet;
} */

#canvas-background {
    position: absolute;
    background-color: blue;
}

#canvas {
    position: relative;
}

#inventory {
    height: 640px;
    width: 100px;
    background: grey;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#music-btn {
    margin: 30px;
    border: none;
    height: 28px;
    width: 30px;
    background: url('../images/sounds-icon/sound-off.svg') no-repeat;
}